<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/layout_detail}">
    <div layout:fragment="content" class="container my-3">
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1 th:text="${question.subject}"></h1>
                            <h2 th:text="${question.content}" class="subheading"></h2>
                            <span class="meta">
                                        Questioned by
                                        <p th:href="@{#!}" th:text="${question.author.name}"></p>
                                        <p th:text="|on ${#strings.substring(question.createDate, 2, 10)}|"></p>
                                    </span>
                            <a class="btn btn-primary btn-lg enabled" th:href="@{|/questions/${question.id}/edit|}">질문수정</a>
                            <div class="bottombtn_box">
                                <form id="deleteMember" th:action="@{|/questions/${question.id}|}" method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button id="delete-btn">질문삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 답변 리스트 -->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div>
                            <h2 class="section-heading" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h2>

                            <div th:each="answer : ${question.answerList}" class="d-flex justify-content-between">
                                <p th:text="${answer.content}"></p>
                                <p th:text="|by ${answer.author.name}|" class="text-sm-right"></p>
                            </div>
                        </div>
                        <form  sec:authorize="isAuthenticated()" th:action="@{|/answers/${question.id}|}" th:object="${answerCreateForm}" method="post">
                            <div th:replace="form_errors :: formErrorsFragment"></div>
                            <textarea class="form-control form-control-lg" name="content" id="content"
                                      placeholder="답변을 입력해주세요"></textarea>
                            <div class="col-auto">
                                <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">답변등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</html>

