<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/layout_list}">
<div layout:fragment="content" class="container my-3">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">질문 리스트</h1>
                <p class="lead fw-normal text-white-50 mb-0">질문 리스트</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div th:each="question, idx : ${paging}" class="col mb-5">
                    <div class="card h-100">
                        <!-- 질문 image-->
                        <p class="mt-3 text-sm text-center" th:text="${paging.getTotalElements - (paging.number * paging.size) - idx.index}"></p>
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        <!-- 질문 details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- subject-->
                                <div class="d-flex justify-content-center">
                                <h5 class="fw-bolder" th:text="${question.subject}"></h5>
                                <span class="text-danger small ms-2"
                                      th:if="${#lists.size(question.answerList) > 0}"
                                      th:text="${#lists.size(question.answerList)}">
                                </span>
                                </div>
                                <!-- content-->
                                <div>
                                    <a th:href="@{|/questions/${question.id}|}"
                                       th:text="${question.content}">Content</a>
                                </div>
                                <!-- author -->
                                <p th:text="|by ${question.author.name}|"></p>
                                <!-- createDate -->
                                <p th:text="|Date. ${#strings.substring(question.createDate, 2, 16)}|"></p>
                            </div>
                        </div>
                        <!-- question actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{|/questions/${question.id}/edit|}">수정</a></div>
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{#}">삭제</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 처리 시작 -->
            <div class="pagination gx-4 gx-lg-5 justify-content-center">
                <li class="page-item" th:classappend="${paging.isFirst eq true} ? 'disabled'">
                    <a class="page-link " th:href="@{|/questions?page=0|}" th:text="처음"></a>
                </li>
                <li class="page-item" th:classappend="${paging.hasPrevious eq false} ? 'disabled'">
                    <a class="page-link " th:href="@{|/questions?page=${paging.number-1}|}" th:text="이전"></a>
                </li>
                <th:block th:each="page : ${#numbers.sequence(0, paging.totalPages -1)}"
                    th:if="${page >= paging.number -5 and page <= paging.number +5}"
                    >
                    <li class="page-item" th:classappend="${page eq paging.number} ? 'disabled'">
                        <a class="page-link" th:href="@{|/questions?page=${page}|}" th:text="${page+1}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${paging.hasNext eq false} ? 'disabled'">
                    <a class="page-link" th:href="@{|/questions?page=${paging.number+1}|}" th:text="다음"></a>
                </li>
                <li class="page-item" th:classappend="${paging.isLast eq true} ? 'disabled'" >
                    <a class="page-link" th:href="@{|/questions?page=${paging.totalPages -1}|}" th:text="끝"></a>
                </li>
            </div>
            <!-- 페이징 처리 끝 -->
            <div class="text-center gx-4 gx-lg-5 mt-5">
                <a th:href="@{/questions/new}" class="btn btn-primary">질문 등록하기</a>
            </div>
        </div>
    </section>
</div>
</html>